/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #4c3f3f; /* Cor de fundo semelhante à do design */
}

/* Estilos do cabeçalho */
header {
  background-color: #000000;
  padding: 10px 0;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0 20px;
  display: flex;
  align-items: center;
}

.nav-item img {
  margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}

.nav-item:hover {
  text-decoration: underline;
}

/* Estilos principais */
.home-page {
  text-align: center;
  margin-top: 80px;
}

.kings-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  font-size: 6rem;
  font-family: 'Georgia', serif;
  color: #fff;
  margin: 0 20px;
}

.king-icon {
  width: 300px;
  height: auto;
}

.description {
  font-size: 1.5rem;
  color: #e0e0e0;
  margin-top: 20px;
}

/* Estilos do rodapé */
footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #000;
  color: white;
  text-align: center;
  padding: 4px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.news-section {
  margin-top: 70px;
  text-align: center;
}

.news-section h2 {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 30px;
}

.news-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.news-item {
  background-color: #333;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  text-align: center;
}

.news-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.news-text {
  font-size: 1.2rem;
  color: #e0e0e0;
  margin: 15px 0;
}

.news-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.news-button a {
  color: white;
  text-decoration: none;
}

.news-button:hover {
  background-color: #45a049;
}
